In [1]:
import pandas as pd
import ir_datasets
dataset = ir_datasets.load("car/v1.5/test200")

In [2]:
import pandas as pd
query_ids = []
queries = []
for query in dataset.queries_iter():
    query_ids.append(query[0])
    queries.append(query[1] + " " + query[2] + " " + str(query[3]))
df1 = pd.DataFrame()
df1["qid"] = query_ids
df1["query"] = queries
df1
#     print(query[0]) # namedtuple<query_id, title, description, narrative>

[INFO] [starting] http://trec-car.cs.unh.edu/datareleases/v1.5/test200-v1.5.tar.xz
[INFO] [finished] http://trec-car.cs.unh.edu/datareleases/v1.5/test200-v1.5.tar.xz: [00:03] [1.31MB] [345kB/s]

,qid,query
0,Hog-dog%20rodeo/Typical%20match,Hog-dog rodeo Typical match Hog-dog rodeo ('Ty...
1,Hog-dog%20rodeo/Catch%20dog%20events,Hog-dog rodeo Catch dog events Hog-dog rodeo (...
2,"Hog-dog%20rodeo/Fees,%20wagering,%20and%20prizes","Hog-dog rodeo Fees, wagering, and prizes Hog-d..."
3,Hog-dog%20rodeo/Piglet%20chase,Hog-dog rodeo Piglet chase Hog-dog rodeo ('Pig...
4,Hog-dog%20rodeo/Background,Hog-dog rodeo Background Hog-dog rodeo ('Backg...
...,...,...
1982,Structural%20information%20theory/Structural%2...,Structural information theory Structural versu...
1983,Structural%20information%20theory/Simplicity%2...,Structural information theory Simplicity versu...
1984,Structural%20information%20theory/SIT%20versus...,Structural information theory SIT versus conne...
1985,Structural%20information%20theory/Modeling%20p...,Structural information theory Modeling princip...
1986,Structural%20information%20theory/Visual%20reg...,Structural information theory Visual regularit...

In [3]:
doc_ids = []
docs = []
for doc in dataset.docs_iter():
    doc_ids.append(doc[0])
    docs.append(doc[1])
df2 = pd.DataFrame()
df2["docid"] = doc_ids
df2["document"] = docs
df2

,docid,document
0,0000000e7e72cafb61a9f356b7dceb25c5e028db,Ukraine was one of the most dangerous places f...
1,0000005eafb11cbd7e9780161f9f0a0a6fd897cd,'''October 4''' Missouri opened its season wi...
2,000000afe1da525b3db17db77f350b187441a9ed,The 1913 Johannisthal Air Disaster happened cl...
3,0000014f07ec8c3f6dc130d21cddc42da950068a,Stéphane Houdet successfully defended the titl...
4,000001ae0be1235060c10e6edc99f7791e86a04c,Ayscough was murdered on 29 June 1450 by an an...
...,...,...
29678362,fffffeab93187feb27bc0db02d407a11033c095b,"Pedraforca is, along with the mountains of Mon..."
29678363,fffffec0ade759e625ee8655f6298aaab4d6176c,"The XF10F-1 was not armed, but production airc..."
29678364,fffffecedffefa14c7214c99538b88e6d66206c5,Riots took place through 1626-28. In December ...
29678365,ffffff8ae474e683d89a64602921289302198819,The rider must also understand that the muscli...
29678366,ffffffb9eec6224bef5da06e829eef59a37748c6,"Fisher recommended Louis as First Sea Lord: ""H..."

In [4]:
qrels_query_ids = []
qrels_doc_ids = []
qrels_relevance = []
for qrel in dataset.qrels_iter():
    qrels_query_ids.append(qrel[0])
    qrels_doc_ids.append(qrel[1])
    qrels_relevance.append(qrel[2])
    
df3 = pd.DataFrame()
df3["qid"] = qrels_query_ids
df3["docid"] = qrels_doc_ids
df3["relevance"] = qrels_relevance
df3

,qid,docid,relevance
0,ASME/ASME%20codes%20and%20standards,16d8f62407d2cdd283a71735e5c83f7d7947b93a,1
1,ASME/ASME%20codes%20and%20standards/ASME%20boi...,315c9731b411135cfbb6583389612704472362ae,1
2,ASME/ASME%20codes%20and%20standards/Other%20no...,cbd1a16d57a7df8b2e6fc37f0217219e36d6cdc0,1
3,ASME/Controversy,ede29ef0a05703efe03701f4f7a780a7b6f9be8d,1
4,ASME/Notable%20members,b310e38546398d13411413435ebe98fd0eea8e94,1
...,...,...,...
4701,Zang-fu/Details/Zang/Lung,a8ff9a624f0ec804094ab715cdb9422d02c30dba,1
4702,Zang-fu/Details/Zang/Spleen,1b9bb39cba41f6c0ae736fafc5904bd72c7ff3ae,1
4703,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,36f9a271588234b0f44fe1a238aaa37751d2a541,1
4704,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,c713122f57187c667ab14e80380cb4936f75029f,1
4705,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,fe6f4dd186037e09bf00f0f08bf172babac7930b,1

In [5]:
df3[df3["relevance"]==1]

,qid,docid,relevance
0,ASME/ASME%20codes%20and%20standards,16d8f62407d2cdd283a71735e5c83f7d7947b93a,1
1,ASME/ASME%20codes%20and%20standards/ASME%20boi...,315c9731b411135cfbb6583389612704472362ae,1
2,ASME/ASME%20codes%20and%20standards/Other%20no...,cbd1a16d57a7df8b2e6fc37f0217219e36d6cdc0,1
3,ASME/Controversy,ede29ef0a05703efe03701f4f7a780a7b6f9be8d,1
4,ASME/Notable%20members,b310e38546398d13411413435ebe98fd0eea8e94,1
...,...,...,...
4701,Zang-fu/Details/Zang/Lung,a8ff9a624f0ec804094ab715cdb9422d02c30dba,1
4702,Zang-fu/Details/Zang/Spleen,1b9bb39cba41f6c0ae736fafc5904bd72c7ff3ae,1
4703,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,36f9a271588234b0f44fe1a238aaa37751d2a541,1
4704,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,c713122f57187c667ab14e80380cb4936f75029f,1
4705,Zang-fu/Yin/yang%20and%20the%20Five%20Elements,fe6f4dd186037e09bf00f0f08bf172babac7930b,1

In [ ]:
# combo1 = itertools.product(qrels_query_ids, qrels_doc_ids)

In [ ]:
# combo2 = list(zip(qrels_query_ids, qrels_doc_ids))

In [ ]:
# for element in combo1:
#     if combo1 in combo2:
#         combo1.remove(element)

In [ ]:
# irrelevant_df = pd.DataFrame(combo1, columns =['qid', 'docid_irrelevant'])
# relevant_df = pd.DataFrame(combo2, columns =['qid', 'docid_relevant'])

In [6]:
# get eval
temp = pd.merge(df1, df3, on='qid')
df_final = pd.merge(temp, df2, on='docid')
df_final1 = df_final[["qid","docid","query","document"]]
df_final1.to_csv('trec.car.eval.tsv', header=None, index=None, sep='\t', mode='a')

In [7]:
df_qrels = df3.copy()
df_qrels['dummy'] = 0
df_qrels[["qid","dummy","docid","relevance"]].to_csv('trec_car_qrels.tsv', header=None, index=None, sep='\t', mode='a')