In [33]:
!pip install ir_datasets

Requirement already satisfied: ir_datasets in c:\users\qhuca\anaconda3\lib\site-packages (0.4.3)
Requirement already satisfied: lxml>=4.5.2 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (4.6.1)
Requirement already satisfied: tqdm>=4.38.0 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (4.50.2)
Requirement already satisfied: zlib-state>=0.1.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (0.1.3)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (5.3.1)
Requirement already satisfied: warc3-wet-clueweb09>=0.2.5 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (0.2.5)
Requirement already satisfied: lz4>=3.1.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (3.1.3)
Requirement already satisfied: beautifulsoup4>=4.4.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (4.9.3)
Requirement already satisfied: ijson>=3.1.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (3.1.4)
Requirement already satisfied: requests>=2.22.0 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (2.25.1)
Requirement already satisfied: trec-car-tools>=2.5.4 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (2.5.4)
Requirement already satisfied: warc3-wet>=0.2.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (0.2.3)
Requirement already satisfied: pyautocorpus>=0.1.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (0.1.6)
Requirement already satisfied: numpy>=1.18.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets) (1.19.5)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\qhuca\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.1->ir_datasets) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets) (2020.6.20)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets) (2.10)
Requirement already satisfied: cbor>=1.0.0 in c:\users\qhuca\anaconda3\lib\site-packages (from trec-car-tools>=2.5.4->ir_datasets) (1.0.0)

In [34]:
import ir_datasets
dataset = ir_datasets.load("vaswani")

In [35]:
# import ir_datasets
# dataset = ir_datasets.load("trec-robust04")

In [36]:
import pandas as pd
query_ids = []
queries = []
for query in dataset.queries_iter():
    query_ids.append(query[0])
    queries.append(query[1])
df1 = pd.DataFrame()
df1["qid"] = query_ids
df1["query"] = queries
df1
#     print(query[0]) # namedtuple<query_id, title, description, narrative>

   qid                                              query
0    1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...
1    2  MATHEMATICAL ANALYSIS AND DESIGN DETAILS OF WA...
2    3  USE OF DIGITAL COMPUTERS IN THE DESIGN OF BAND...
3    4  SYSTEMS OF DATA CODING FOR INFORMATION TRANSFER\n
4    5  USE OF PROGRAMS IN ENGINEERING TESTING OF COMP...
..  ..                                                ...
88  89  TUNNEL DIODE CONSTRUCTION AND ITS ELECTRICAL C...
89  90  ELECTRONIC DENSITY OF STATES AT THE SURFACE OF...
90  91  RESISTIVITY OF METALLIC THIN FILMS RELATED TO ...
91  92  THE PHENOMENON OF RADIATION CAUSED BY CHARGED ...
92  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...

[93 rows x 2 columns]

In [45]:
doc_ids = []
docs = []
for doc in dataset.docs_iter():
    doc_ids.append(doc[0])
    docs.append(doc[1])
df2 = pd.DataFrame()
df2["docid"] = doc_ids
df2["document"] = docs
df2

       docid                                           document
0          1  compact memories have flexible capacities  a d...
1          2  an electronic analogue computer for solving sy...
2          3  electronic coordinate transformer  circuit det...
3          4  the british computer society  report of a conf...
4          5  millimicrosecond digital computer logic  a sys...
...      ...                                                ...
11424  11425  diurnal power variation of the earth ionospher...
11425  11426  on the design of small economical radio freque...
11426  11427  satellite power supply has variable pulse widt...
11427  11428  solar batteries for the use as the power sourc...
11428  11429  pattern detection and recognition  both proces...

[11429 rows x 2 columns]

In [46]:
qrels_query_ids = []
qrels_doc_ids = []
qrels_relevance = []
for qrel in dataset.qrels_iter():
    qrels_query_ids.append(qrel[0])
    qrels_doc_ids.append(qrel[1])
    qrels_relevance.append(qrel[2])
    
df3 = pd.DataFrame()
df3["qid"] = qrels_query_ids
df3["docid"] = qrels_doc_ids
df3["relevance"] = qrels_relevance
df3

     qid  docid  relevance
0      1   1239          1
1      1   1502          1
2      1   4462          1
3      1   4569          1
4      1   5472          1
...   ..    ...        ...
2078  93   9875          1
2079  93   9956          1
2080  93  10497          1
2081  93  11191          1
2082  93  11318          1

[2083 rows x 3 columns]

In [54]:
df_qrels = df3.copy()
df_qrels['dummy'] = 0
df_qrels[["qid","dummy","docid","relevance"]].to_csv('vaswani_qrels.tsv', header=None, index=None, sep='\t', mode='a')

In [39]:
df3[df3["relevance"]==1]

     qid  docid  relevance
0      1   1239          1
1      1   1502          1
2      1   4462          1
3      1   4569          1
4      1   5472          1
...   ..    ...        ...
2078  93   9875          1
2079  93   9956          1
2080  93  10497          1
2081  93  11191          1
2082  93  11318          1

[2083 rows x 3 columns]

In [47]:
df3_new = df3[["qid","docid"]]
df3_new

     qid  docid
0      1   1239
1      1   1502
2      1   4462
3      1   4569
4      1   5472
...   ..    ...
2078  93   9875
2079  93   9956
2080  93  10497
2081  93  11191
2082  93  11318

[2083 rows x 2 columns]

In [48]:
temp = pd.merge(df1, df3, on='qid')
temp

     qid                                              query  docid  relevance
0      1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...   1239          1
1      1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...   1502          1
2      1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...   4462          1
3      1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...   4569          1
4      1  MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...   5472          1
...   ..                                                ...    ...        ...
2078  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...   9875          1
2079  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...   9956          1
2080  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...  10497          1
2081  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...  11191          1
2082  93  HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...  11318          1

[2083 rows x 4 columns]

In [50]:
df_final = pd.merge(temp, df2, on='docid')
df_final

,qid,query,docid,relevance,document
0,1,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,1239,1,broadband millimetre wave paramagnetic resonan...
1,1,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,1502,1,microwave measurements of dielectric absorptio...
2,1,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,4462,1,dielectric properties of ice at very low frequ...
3,1,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,4569,1,transmission of electromagnetic waves through ...
4,1,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,5472,1,microwave cavity resonators some perturbation...
...,...,...,...,...,...
2078,93,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,9875,1,resonance circuits comprising or elements and ...
2079,93,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,9956,1,a new self excited square wave transistor powe...
2080,93,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,10497,1,an analysis of the modes of operation of a sim...
2081,93,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,11191,1,an analysis of a class of variable frequency s...
2082,93,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,11318,1,a high stability transistor oscillator for th...

In [51]:
df_final1 = df_final[["qid","docid","query","document"]]
df_final1

,qid,docid,query,document
0,1,1239,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,broadband millimetre wave paramagnetic resonan...
1,1,1502,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,microwave measurements of dielectric absorptio...
2,1,4462,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,dielectric properties of ice at very low frequ...
3,1,4569,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,transmission of electromagnetic waves through ...
4,1,5472,MEASUREMENT OF DIELECTRIC CONSTANT OF LIQUIDS ...,microwave cavity resonators some perturbation...
...,...,...,...,...
2078,93,9875,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,resonance circuits comprising or elements and ...
2079,93,9956,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,a new self excited square wave transistor powe...
2080,93,10497,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,an analysis of the modes of operation of a sim...
2081,93,11191,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,an analysis of a class of variable frequency s...
2082,93,11318,HIGH FREQUENCY OSCILLATORS USING TRANSISTORS T...,a high stability transistor oscillator for th...

In [55]:
df_final1.to_csv('vaswani.eval.tsv', header=None, index=None, sep='\t', mode='a')