In [109]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [110]:
data1 = pd.read_csv("queries.docdev.tsv", sep='\t', header=None)
data1.rename({0: 'qid', 1: 'query'}, axis=1, inplace=True)
data1

          qid                                              query
0      174249  does xpress bet charge to deposit money in you...
1      320792               how much is a cost to run disneyland
2     1090270                               botulinum definition
3     1101279  do physicians pay for insurance from their sal...
4      201376                        here there be dragons comic
...       ...                                                ...
5188   147073  difference between discrete and process manufa...
5189   243761                 how long did abraham lincoln serve
5190   162662       does adult acne rosacea give you blepharitis
5191   247194                       how long do you bake muffins
5192   195199                                     glioma meaning

[5193 rows x 2 columns]

In [111]:
data2 = pd.read_csv("docdev-stopstem.xml_1.out", sep=' ', header=None)
data2.rename({0: 'qid', 1: 'Q0', 2:'docid', 3:'rank', 4:'score', 5:'runstring'}, axis=1, inplace=True)
data2

           qid  Q0     docid  rank    score             runstring
0       174249  Q0  D3126539     1 -5.99003  IndriQueryLikelihood
1       174249  Q0   D978773     2 -6.18444  IndriQueryLikelihood
2       174249  Q0   D399803     3 -6.20982  IndriQueryLikelihood
3       174249  Q0  D2204704     4 -6.24312  IndriQueryLikelihood
4       174249  Q0  D3126541     5 -6.24726  IndriQueryLikelihood
...        ...  ..       ...   ...      ...                   ...
519295  195199  Q0  D2523452    96 -7.71499  IndriQueryLikelihood
519296  195199  Q0  D2936620    97 -7.71628  IndriQueryLikelihood
519297  195199  Q0  D2630286    98 -7.72922  IndriQueryLikelihood
519298  195199  Q0  D3161177    99 -7.73019  IndriQueryLikelihood
519299  195199  Q0  D2834135   100 -7.73695  IndriQueryLikelihood

[519300 rows x 6 columns]

In [112]:
temp = pd.merge(data1, data2, on='qid')[["qid","query","docid","rank"]]
temp

,qid,query,docid,rank
0,174249,does xpress bet charge to deposit money in you...,D3126539,1
1,174249,does xpress bet charge to deposit money in you...,D978773,2
2,174249,does xpress bet charge to deposit money in you...,D399803,3
3,174249,does xpress bet charge to deposit money in you...,D2204704,4
4,174249,does xpress bet charge to deposit money in you...,D3126541,5
...,...,...,...,...
519295,195199,glioma meaning,D2523452,96
519296,195199,glioma meaning,D2936620,97
519297,195199,glioma meaning,D2630286,98
519298,195199,glioma meaning,D3161177,99
519299,195199,glioma meaning,D2834135,100

In [113]:
temp[temp["qid"]<50000]

          qid                             query     docid  rank
3100    14151  age requirements for name change   D247252     1
3101    14151  age requirements for name change  D2737200     2
3102    14151  age requirements for name change    D91494     3
3103    14151  age requirements for name change  D1173214     4
3104    14151  age requirements for name change  D2679521     5
...       ...                               ...       ...   ...
514595  30039       automated cells & equipment  D3354040    96
514596  30039       automated cells & equipment  D1163142    97
514597  30039       automated cells & equipment  D1463667    98
514598  30039       automated cells & equipment    D84274    99
514599  30039       automated cells & equipment  D3003699   100

[11700 rows x 4 columns]

In [114]:
# df = temp[temp["rank"]==1]
# df = df.drop(columns=['rank'])
# df
# df = temp[temp["qid"]<50000]
df = temp

In [115]:
docid_list = df[["docid"]].values.tolist()
docid_list = [item for sublist in docid_list for item in sublist]
docid_list = list(set(docid_list))

In [116]:
len(docid_list)

400737

In [117]:
from tqdm import tqdm
# Opening file
with open('msmarco_doc_merge.tsv',"r",encoding="utf8") as in_file:
    with open('msmarco_doc_merge_processed_eval4.txt',"w",encoding="utf8") as out_file:
        for line in tqdm(in_file):
            ls = line.split("\t")
            if ls[0] in docid_list:
                out_file.write(ls[0]+"\t"+ls[1]+" "+ls[2])

343339it [2:31:37, 37.74it/s]

KeyboardInterrupt:

In [118]:
data3 = pd.read_csv('msmarco_doc_merge_processed_eval4.txt', sep='\t', header=None)
data3

              0                                                  1
0      D2883971  Urinary Incontinence "At least 10 million Amer...
1       D207561  Is Taiwan a Country? "Humanities ›Geography Is...
2      D2976645  Tigrinya language Alternative Titles: Tigrai l...
3      D2702544  What Happens if I Bail Someone Out of Jail and...
4      D2442854  Top 30 Doctor insights on: What Are The Differ...
...         ...                                                ...
42836    D53115  The Metro Areas With the Largest, and Smallest...
42837  D1501269  Princeton Cemetery "Princeton Cemetery From Wi...
42838  D1702455  When Will the Next Star Wars Movie Come Out? S...
42839  D2738702  QUALFON QUALITY CONTACT SERVICES QUALFON QUALI...
42840  D1743785  . T olterodine Tartrate Extended Release Capsu...

[42841 rows x 2 columns]

In [119]:
data3.rename({0: 'docid', 1: 'document'}, axis=1, inplace=True)
data3

          docid                                           document
0      D2883971  Urinary Incontinence "At least 10 million Amer...
1       D207561  Is Taiwan a Country? "Humanities ›Geography Is...
2      D2976645  Tigrinya language Alternative Titles: Tigrai l...
3      D2702544  What Happens if I Bail Someone Out of Jail and...
4      D2442854  Top 30 Doctor insights on: What Are The Differ...
...         ...                                                ...
42836    D53115  The Metro Areas With the Largest, and Smallest...
42837  D1501269  Princeton Cemetery "Princeton Cemetery From Wi...
42838  D1702455  When Will the Next Star Wars Movie Come Out? S...
42839  D2738702  QUALFON QUALITY CONTACT SERVICES QUALFON QUALI...
42840  D1743785  . T olterodine Tartrate Extended Release Capsu...

[42841 rows x 2 columns]

In [120]:
df_final = pd.merge(df, data3, on='docid')[["qid","docid","query","document"]]
df_final

,qid,docid,query,document
0,174249,D978773,does xpress bet charge to deposit money in you...,Insight Prepaid Card And Savings Account 5% AP...
1,69506,D978773,can i reopen a closed bank account barclays,Insight Prepaid Card And Savings Account 5% AP...
2,427730,D978773,is the walmart money card plus still available,Insight Prepaid Card And Savings Account 5% AP...
3,36388,D978773,average family savings account,Insight Prepaid Card And Savings Account 5% AP...
4,174249,D399803,does xpress bet charge to deposit money in you...,"Is online gambling legal in the U.S.? ""We answ..."
...,...,...,...,...
55182,195199,D1765079,glioma meaning,"Brain Tumor Overview ""Brain Tumor Overview Hea..."
55183,195199,D906307,glioma meaning,"Temozolomide ""Temozolomide From Wikipedia, the..."
55184,195199,D1850998,glioma meaning,"Kennedy fought aggressive cancer ""By Elizabeth..."
55185,195199,D2936620,glioma meaning,"Are most brain tumors curable? ""Health Disease..."
55186,195199,D3161177,glioma meaning,Drugs Information Online Drugs and diseases re...

In [121]:
df_final["docid"] = df_final["docid"].str.replace("D","")
df_final

,qid,docid,query,document
0,174249,978773,does xpress bet charge to deposit money in you...,Insight Prepaid Card And Savings Account 5% AP...
1,69506,978773,can i reopen a closed bank account barclays,Insight Prepaid Card And Savings Account 5% AP...
2,427730,978773,is the walmart money card plus still available,Insight Prepaid Card And Savings Account 5% AP...
3,36388,978773,average family savings account,Insight Prepaid Card And Savings Account 5% AP...
4,174249,399803,does xpress bet charge to deposit money in you...,"Is online gambling legal in the U.S.? ""We answ..."
...,...,...,...,...
55182,195199,1765079,glioma meaning,"Brain Tumor Overview ""Brain Tumor Overview Hea..."
55183,195199,906307,glioma meaning,"Temozolomide ""Temozolomide From Wikipedia, the..."
55184,195199,1850998,glioma meaning,"Kennedy fought aggressive cancer ""By Elizabeth..."
55185,195199,2936620,glioma meaning,"Are most brain tumors curable? ""Health Disease..."
55186,195199,3161177,glioma meaning,Drugs Information Online Drugs and diseases re...

In [122]:
df_final.to_csv('msmarco_doc_eval4.tsv', header=None, index=None, sep='\t', mode='a')